// Quasar SCSS Design Variables
$primary   : #1e40af;
$secondary : #26A69A;
$accent    : #06b6d4;

$dark      : #0f172a;
$dark-page : #0f172a;

$positive  : #10b981;
$negative  : #ef4444;
$info      : #3b82f6;
$warning   : #f59e0b;
